In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
# only if you get an error from below
# from pygenesis import init_config
# init_config()

In [2]:
import pandas as pd

from pygenesis.data import get_data

In [10]:
params = {"values": "true", "metadata": "true", "additionals": "false"}
data = get_data(name="47414BJ002", method="cubefile", **params)

In [11]:
data.head()

,DINSG,WZ08N7,WERTE4,JAHR,UMS103,QUALITAET,GESPERRT,WERT-VERFAELSCHT
0,DG,WZ08-49-01,NOMINAL,2015,100.0,e,NaN,0.0
1,DG,WZ08-49-01,NOMINAL,2016,99.3,e,NaN,0.0
2,DG,WZ08-49-01,NOMINAL,2017,105.7,e,NaN,0.0
3,DG,WZ08-49-01,NOMINAL,2018,111.6,e,NaN,0.0
4,DG,WZ08-49-01,NOMINAL,2019,115.6,e,NaN,0.0