In [22]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
# only if you get an error from below
# from pygenesis import init_config
# init_config()

In [23]:
import pandas as pd

from pygenesis.data import get_data

In [45]:
params = {"values": "true", "metadata": "true", "additionals": "false"}
data = get_data(name="12411BJ001", method="cubefile", **params)

In [46]:
data.head()

,DINSG,NAT,GES,FAMST8,ALT013,STAG,BEVSTD_WERT,BEVSTD_QUALITAET,BEVSTD_GESPERRT,BEVSTD_WERT-VERFAELSCHT
0,DG,NATA,GESM,GESCH,ALT016,31.12.1991,9,e,,0
1,DG,NATA,GESM,GESCH,ALT016,31.12.1992,60,e,,0
2,DG,NATA,GESM,GESCH,ALT016,31.12.1993,4,e,,0
3,DG,NATA,GESM,GESCH,ALT016,31.12.1996,3,e,,0
4,DG,NATA,GESM,GESCH,ALT016,31.12.1997,1,e,,0

In [47]:
data

,DINSG,NAT,GES,FAMST8,ALT013,STAG,BEVSTD_WERT,BEVSTD_QUALITAET,BEVSTD_GESPERRT,BEVSTD_WERT-VERFAELSCHT
0,DG,NATA,GESM,GESCH,ALT016,31.12.1991,9,e,,0
1,DG,NATA,GESM,GESCH,ALT016,31.12.1992,60,e,,0
2,DG,NATA,GESM,GESCH,ALT016,31.12.1993,4,e,,0
3,DG,NATA,GESM,GESCH,ALT016,31.12.1996,3,e,,0
4,DG,NATA,GESM,GESCH,ALT016,31.12.1997,1,e,,0
...,...,...,...,...,...,...,...,...,...,...
42398,DG,NATD,GESW,VERW,ALT085UM,31.12.2017,1143730,e,,0
42399,DG,NATD,GESW,VERW,ALT085UM,31.12.2018,1134944,e,,0
42400,DG,NATD,GESW,VERW,ALT085UM,31.12.2019,1164161,e,,0
42401,DG,NATD,GESW,VERW,ALT085UM,31.12.2020,1196467,e,,0
42402,DG,NATD,GESW,VERW,ALT085UM,31.12.2021,1228672,e,,0

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42403 entries, 0 to 42402
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   DINSG                    42403 non-null  object
 1   NAT                      42403 non-null  object
 2   GES                      42403 non-null  object
 3   FAMST8                   42403 non-null  object
 4   ALT013                   42403 non-null  object
 5   STAG                     42403 non-null  object
 6   BEVSTD_WERT              42403 non-null  int32
 7   BEVSTD_QUALITAET         42403 non-null  object
 8   BEVSTD_GESPERRT          42403 non-null  object
 9   BEVSTD_WERT-VERFAELSCHT  42403 non-null  object
dtypes: int32(1), object(9)
memory usage: 3.1+ MB

In [49]:
params = {"values": "true", "metadata": "true", "additionals": "false"}
data = get_data(name="22922KJ1141", method="cubefile", **params)

In [50]:
data

,KREISE,GES,ERW122,ELGAT2,JAHR,ELG002_WERT,ELG002_QUALITAET,ELG002_GESPERRT,ELG002_WERT-VERFAELSCHT,ELG003_WERT,ELG003_QUALITAET,ELG003_GESPERRT,ELG003_WERT-VERFAELSCHT
0,01001,GESM,ERWERBST12,ELGPLUS-X,2016,1259,e,,0,3574,e,,0
1,01001,GESM,ERWERBST12,ELGPLUS-X,2017,1236,e,,0,3898,e,,0
2,01001,GESM,ERWERBST12,ELGPLUS-X,2018,1217,e,,0,4028,e,,0
3,01001,GESM,ERWERBST12,ELGPLUS-X,2019,1299,e,,0,4045,e,,0
4,01001,GESM,ERWERBST12,ELGPLUS-X,2020,1272,e,,0,4106,e,,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19180,16077,GESW,ERWERBST13,ELGPLUS,2017,173,e,,0,3698,e,,0
19181,16077,GESW,ERWERBST13,ELGPLUS,2018,171,e,,0,3696,e,,0
19182,16077,GESW,ERWERBST13,ELGPLUS,2019,166,e,,0,3496,e,,0
19183,16077,GESW,ERWERBST13,ELGPLUS,2020,167,e,,0,3600,e,,0
19184,16077,GESW,ERWERBST13,ELGPLUS,2021,166,e,,0,3492,e,,0

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19185 entries, 0 to 19184
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   KREISE                   19185 non-null  object
 1   GES                      19185 non-null  object
 2   ERW122                   19185 non-null  object
 3   ELGAT2                   19185 non-null  object
 4   JAHR                     19185 non-null  object
 5   ELG002_WERT              19185 non-null  int32
 6   ELG002_QUALITAET         19185 non-null  object
 7   ELG002_GESPERRT          19185 non-null  object
 8   ELG002_WERT-VERFAELSCHT  19185 non-null  object
 9   ELG003_WERT              19185 non-null  int32
 10  ELG003_QUALITAET         19185 non-null  object
 11  ELG003_GESPERRT          19185 non-null  object
 12  ELG003_WERT-VERFAELSCHT  19185 non-null  object
dtypes: int32(2), object(11)
memory usage: 1.8+ MB